/* Common Css Section Start */
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* Common Css Section End */

/* Nav Section Css Start */
#primary_nav{
    background-color: #02918c;
}

#primary_nav #menu ul li a{
    color: #ffffff;
    font-size: 12px;
    font-weight: 800px;
    text-transform: uppercase;
    padding: 13.5px 25px;
    display: inline-block;
}
/* Nav Section End */